L'usine [Numéro usine] peut fabriquer [Nombre pièces] pièces
Le village [Numéro village] à besoin de [Nombre pièces] pièces
Il existe une route entre l'usine [Numéro usine] et le village [Numéro village] d'une capacité de 8
